body {
  background-color: #292929;
  color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
}
header {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 10px 10px;
}

a {
  text-decoration: none;
}
